<header class="d-flex flex-column flex-md-row align-items-center justify-content-between px-4 p-3 mb-3 bg-white fixed-top shadow-sm border-bottom">
  <img src="/src/assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px" routerLink="/">
  <nav class="my-2 text-uppercase fs-3">
      <a
        class="p-2"
        routerLinkActive="active"
        routerLink="/"
        [routerLinkActiveOptions]="{exact:true}"
      >Home</a>
      <a class="p-2" routerLinkActive="active" routerLink="/shop">Shop</a>
      <a class="p-2" routerLinkActive="active" routerLink="/test-error">Errors</a>
    </nav>
  <div class="d-flex align-items-center">
    <a  routerLink="/basket" class="position-relative">
      <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
      <div *ngIf="(basketService.basketSource$ | async) as basket" class="cart-no">
          {{getCount(basket.items)}}
      </div>
    </a>
    <a href="" class="btn btn-outline-secondary me-2">Login</a>
    <a href="" class="btn btn-outline-secondary me-3">Sign Up</a>
  </div>
</header>
